<body id="project" xmlns="http://www.w3.org/1999/html">

  <div class="work case-study">
      <section>
      <article>
        <a href="https://www.youtube.com/embed/br0r0NH6Bfk?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1"
           rel="shadowbox;player=iframe;width=720;height=405" onclick="return true;">
          <%= image_tag("portfolio/mercedes_1.jpg", :alt => "Mercedes Benz", :class => "img_button") %>
        </a>

        <h1>Defining the Connected Car Experience</h1>

        <p>
          Daimler, the makers of Mercedes-Benz, gave our team six months to help them shape the future of mobility. Our
          goal - develop Mercedes’ first-ever connected car experience. We were to take a human-centered approach
          while leveraging the latest technology to improve the car and driver experience. We designed what the
          mobile/car transition looked like in a connected world. Building improvements as the car technology improved
          like predictive routing.

          Along the way, we were to establish an internal product team. Together we'd work to enhance the culture and
          processes for Daimler product development.
        </p>

        <!--<%= image_tag("portfolio/sketch_1.jpg", :alt => "Fuze") %>-->

        <h3>Deep Sensor & Headunit Integration Across iOS, Android, & Apple Watch</h3>

        <p>
          We interviewed potential end-users to understand them and their relationship with their vehicle. Those
          conversations helped us to validate feature assumptions and identify opportunities for innovation. With a
          tight timeframe, these discoveries also helped us to define what was worth building now.
        </p>

        <!--<%= image_tag("portfolio/fuze_2.jpg", :alt => "Fuze") %>-->

        <p>With the app, drivers could locate their car and remotely lock from anywhere. They could view diagnostics
          such as gas level and tire pressure and get alerted to issues. The app also integrated with the car's head
          unit enhancing in-car navigation capabilities.</p>

        <!--<%= image_tag("portfolio/fuze_5.jpg", :alt => "Fuze") %>-->

        <p>
          This was one of the first ever connected car projects and premiered at Frankfurt Motor Show.
        </p>
      </article>
    </section>

    <footer>
      <div class="previous">
        <a href="../../index.html#portfolio">See All Projects</a>
      </div>
      <div class="contact">
        <h1>Want to hear more about this project?</h1>
        <a href="mailto:richardenlow@gmail.com?subject=Hello Richard!" target="_blank">
          <button>Let's Connect</button>
        </a>
      </div>
      <div class="next">
        <a href="fuze.html">See Next Project</a>
      </div>
    </footer>

  </div>
</body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42734287-1', 'herokuapp.com');
  ga('send', 'pageview');

</script>

<script>
  document.write('<script src=/javascripts/vendor/'
    + ('__proto__' in {} ? 'zepto' : 'jquery')
    + '.js><\/script>');
</script>

<script>
  $(document).foundation();
</script>