<body id="project">

  <!--<div class="title">-->
    <!--<h1 class="bar"><strong>Resume</strong></h1>-->
  <!--</div>-->

  <br>

  <div class="work">
     <a href="../portfolio.html">Back to Portfolio</a>
     <!--<h2 class="bar">:D</h2>-->
    <section>
      <article>
        <h3><strong>Worms - Art as Code Project</strong></h3>

        <!--<div class="skills-used">-->
          <!--<ul class="tags" class="clear">-->
            <!--<li><span class="tag">Software Development</span></li>-->
            <!--<li><span class="tag">Product Design</span></li>-->
            <!--<li><span class="tag">Fun</span></li>-->
          <!--</ul>-->
        <!--</div>-->

        <p class="clear">Worms is an interactive art coding project designed to take advantage of the audio tag and track user mouse movements.
          The UI is simple and offers a bit of surprises.</p>
        <p>Pressing a computer key chooses a Palette where the user can artfully interact with the application.
          Each palette contains a theme and feature accompanying soundtrack </p>
      </article>

    </section>
  </div>

  <!--<div class="skills">-->
    <!--<h2 class="bar">Skills</h2>-->
    <!--<section>-->
      <!--<article class="clear">-->
        <!--<ul class="tags">-->
          <!--<li><span class="tag">Software Development</span></li>-->
          <!--<li><span class="tag">Product Design</span></li>-->
          <!--<li><span class="tag">Fun</span></li>-->
        <!--</ul>-->
    <!--</section>-->
    <!--</article>-->
  </div>

</body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42734287-1', 'herokuapp.com');
  ga('send', 'pageview');

</script>

<script>
  document.write('<script src=/javascripts/vendor/'
    + ('__proto__' in {} ? 'zepto' : 'jquery')
    + '.js><\/script>');
</script>

<script>
  $(document).foundation();
</script>