// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: sans-serif;
$base-font-weight: $regular;
$base-font-size: 13px;
$base-line-height: 1.4;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;

// Links
a {
  color: #4682b4;
}

// body text

p {
  font-size: 18px;
}

#defaultCanvas0 {
  width: 845px;
  position: fixed;
  height: 778px;
  top: 0;
  left: 0;
  z-index: -1;
}