h1, h2, h3, h4 {
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.1em;
  margin: 0;
  padding: 5px 20px;
}

// Killing padding issues on nav bar
.name {
  margin-left: 10px;
  h1 {
    padding: 0 14px;
    color: white;
    font-weight: bold;
  }
}

h1 {
  font-size: 52px;
  text-align: left;
  letter-spacing: 3px;

  @include breakpoint(mobile) {
    font-size: 42px;
  }
}

h3 {
  font-size: 15vw;
  text-align: left;
}


strong {
  font-weight: 900;
}

i {
  font-size: 18px;
}

// Fixes issues with repeating background-images for gradients

html {
  height: 100%;
}
body, .area {
  height: 100%;
  min-height:100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @include breakpoint(mobile) {
    min-height: 0;
  }
}

#root  {
  background-color: #fff;
}

#resume  {
  background-color: #2d2d2d;
}

#portfolio  {
  background-color: #fff;
}

#project  {
  background-color: #fff; /* fallback color if gradients are not supported */
}

ul {
  list-style: none;
}

ins {
  background-color: #f9fc3d;
  color: #000;
  text-decoration: none;
}

a {
  text-decoration: none;
}

// The Magnificent Clearfix: nicolasgallagher.com/micro-clearfix-hack
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

button {
  background-color: $color-blue;
  border: 1px solid darken($color-blue, 10%);

  &:hover {
    background-color: lighten($color-blue, 5%);
    background-color: lighten($color-blue, 10%);
  }

  &:focus {
    background-color: darken($color-blue, 10%);
    border: 1px solid darken($color-blue, 20%);
  }
}

// Header Styles
.bar  {
  padding: 10px;
  color: $color-white;
  display: inline-block;
}

// Custom Fonts
body, p, h1, h2, h3 {
  font-family: 'Lato', sans-serif;
}

// Link Styles

a {
  color:  $color-yellow;
  font-style: normal;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;

  &:hover {
    color: $color-blue;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
  }
}

em {
  color:  $color-yellow;
  font-style: normal;
}

::selection {
  background: $color-yellow; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $color-yellow; /* Gecko Browsers */
}

.title {
  color: $color-blue;
}

.img_button {
  cursor: pointer;
  -webkit-transition: all 0.125s ease-in-out;
  -moz-transition: all 0.125s ease-in-out;
  -o-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out;

  &:hover {
    -webkit-transform: scale(1.025);
    -moz-transform: scale(1.025);
    -o-transform: scale(1.025);
    transform: scale(1.025);
    -webkit-transition: all 0.125s ease-in-out;
    -moz-transition: all 0.125s ease-in-out;
    -o-transition: all 0.125s ease-in-out;
    transition: all 0.125s ease-in-out;
  }
}