h1, h2, h3, h4 {
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.1em;
  margin: 0;
  padding: 5px 20px;
}

// Killing padding issues on nav bar
.name {
  h1 {
    padding: 0 !important;
  }
}

h1 {
  font-size: 52px;
  text-align: left;

  @include breakpoint(mobile) {
    font-size: 42px;
  }
}

strong {
  font-weight: 900;
}

.title {
  margin-top: 15px;

  @include breakpoint(mobile) {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
  }

  h1 {
    background-color: rgba(0, 0, 0, 0.75);
    color: $color-white;
    display: inline-block;
    margin: 10px;
    padding: 22px;

      @include breakpoint(mobile) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }
  }

  h2 {
    background-color: $color-black;
    color: $color-white;
    display: inline-block;
  }
}

i {
  font-size: 18px;
}

// Fixes issues with repeating background-images for gradients

html {
  height: 100%;
}
body {
  height: 100%;
  min-height:100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body#root  {
  background-color: $color-yellow; /* fallback color if gradients are not supported */
  background: url("/images/bg.jpg") 40% center fixed;
  background-repeat: repeat-x;

  @include breakpoint(tablet) {
    background: url("/images/bg.jpg") left center fixed;
    background-size: 200%;
    background-repeat: repeat-x;
  }

  @include breakpoint(mobile) {
    background: url("/images/bg.jpg") left top fixed;
    background-color: $color-brown; /* fallback color if gradients are not supported */
    background-size: 200%;
    background-repeat: repeat-x;
  }
}

body#resume  {
  background-image: -webkit-linear-gradient(top, $color-buff, $color-peach); /* For Chrome and Safari */
  background-image:    -moz-linear-gradient(top, $color-buff, $color-peach); /* For old Fx (3.6 to 15) */
  background-image:     -ms-linear-gradient(top, $color-buff, $color-peach); /* For pre-releases of IE 10*/
  background-image:      -o-linear-gradient(top, $color-buff, $color-peach); /* For old Opera (11.1 to 12.0) */
  background-image:         linear-gradient(to bottom, $color-buff, $color-peach); /* Standard syntax; must be last */
  background: url("/images/resume-bg.jpg") no-repeat center top fixed;
  background-color: darken($color-peach, 2.5%); /* fallback color if gradients are not supported */

  @include breakpoint(tablet) {
    background: url("/images/resume-bg.jpg") left top fixed;
    background-color: darken($color-peach, 2.5%); /* fallback color if gradients are not supported */
    background-size: 200%;
    background-repeat: repeat-x;
  }

  @include breakpoint(mobile) {
    background: url("/images/resume-bg.jpg") left top fixed;
    background-color: darken($color-peach, 2.5%); /* fallback color if gradients are not supported */
    background-size: 200%;
    background-repeat: repeat-x;
  }
}

body#portfolio  {
  background-color: $color-plum; /* fallback color if gradients are not supported */
  background-image: -webkit-linear-gradient(top, $color-peach, $color-plum); /* For Chrome and Safari */
  background-image:    -moz-linear-gradient(top, $color-peach, $color-plum); /* For old Fx (3.6 to 15) */
  background-image:     -ms-linear-gradient(top, $color-peach, $color-plum); /* For pre-releases of IE 10*/
  background-image:      -o-linear-gradient(top, $color-peach, $color-plum); /* For old Opera (11.1 to 12.0) */
  background-image:         linear-gradient(to bottom, $color-peach, $color-plum);; /* Standard syntax; must be last */
  background-repeat: repeat-x;
}

body#project  {
  background-color: $color-plum; /* fallback color if gradients are not supported */
  background-image: -webkit-linear-gradient(top, $color-peach, $color-plum); /* For Chrome and Safari */
  background-image:    -moz-linear-gradient(top, $color-peach, $color-plum); /* For old Fx (3.6 to 15) */
  background-image:     -ms-linear-gradient(top, $color-peach, $color-plum); /* For pre-releases of IE 10*/
  background-image:      -o-linear-gradient(top, $color-peach, $color-plum); /* For old Opera (11.1 to 12.0) */
  background-image:         linear-gradient(to bottom, $color-peach, $color-plum);; /* Standard syntax; must be last */
  background-repeat: repeat-x;
}

body#contact  {
  background-color: $color-violet; /* fallback color if gradients are not supported */
  background-image: -webkit-linear-gradient(top, $color-plum, $color-violet); /* For Chrome and Safari */
  background-image:    -moz-linear-gradient(top, $color-plum, $color-violet); /* For old Fx (3.6 to 15) */
  background-image:     -ms-linear-gradient(top, $color-plum, $color-violet); /* For pre-releases of IE 10*/
  background-image:      -o-linear-gradient(top, $color-plum, $color-violet); /* For old Opera (11.1 to 12.0) */
  background-image:         linear-gradient(to bottom, $color-plum, $color-violet); /* Standard syntax; must be last */
  background: url("/images/contact-bg.jpg") no-repeat bottom center fixed;
}

ul {
  list-style: none;
}

ins {
  background-color: #f9fc3d;
  color: #000;
  text-decoration: none;
}

a {
  text-decoration: none;
}

/* The Magnificent Clearfix: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


//animations

.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}.animated.hinge{-webkit-animation-duration:2s;-moz-animation-duration:2s;-ms-animation-duration:2s;-o-animation-duration:2s;animation-duration:2s;}@-webkit-keyframes fadeIn {
	0% {opacity: 0;}	100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@-o-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@-moz-keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@-o-keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  animation-name: fadeOut;
}
