// Color Settings
$color-yellow: #F8F4C4;
$color-buff: #D8A276;
$color-peach: #CF5A60;
$color-plum: #883959;
$color-violet: #2A3759;
$color-gray: #DDDDDD;
$color-white: #eeeeee;
$color-black: #2d2d2d;
$color-brown: #462914;

// Header Styles
.bar  {
  padding: 10px;
  color: $color-white;
  display: inline-block;
}

// Custom Fonts
body, p, h1, h2, h3 {
  font-family: 'Lato', sans-serif;
}

// Link Styles

a {
  color:  $color-yellow;
  font-style: normal;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;

  &:hover {
    color: $color-violet;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
  }
}

em {
  color:  $color-yellow;
  font-style: normal;
}

// Mixins
// Use by inclding the following under elements
//  @include breakpoint(tablet) {
//    }
//
//  @include breakpoint(mobile) {
//  }

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == tablet {
    @media (max-width: 910px) { @content; }
  }
  @else if $point == mobile {
    @media (max-width: 760px)  { @content; }
  }
}
