// Color Settings
$color-yellow: #F8F4C4;
$color-buff: #D8A276;
$color-peach: #CF5A60;
$color-plum: #883959;
$color-violet: #2A3759;
$color-gray: #DDDDDD;
$color-white: #eeeeee;
$color-black: #2d2d2d;
$color-brown: #462914;

// Mixins
// Use by inclding the following under elements
//  @include breakpoint(tablet) {
//    }
//
//  @include breakpoint(mobile) {
//  }

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == tablet {
    @media (max-width: 1100px) { @content; }
  }
  @else if $point == mobile {
    @media (max-width: 760px)  { @content; }
  }
}
