nav.top-bar {
  width: 100%;
  z-index: 99;
  margin: 0;
  position: fixed;

  .container {
    width: 500px;
    margin: auto;

    @include breakpoint(tablet) {
      margin: 0;
      width: auto;
    }

    @include breakpoint(mobile) {
      margin: 0;
      width: auto;
    }

    h1 {
      padding-left: 0;
      @include breakpoint(mobile) {
        padding-left: 10px;
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      text-transform: uppercase;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;

      .active {
        background-color: $color-blue;

        &:hover {
          color: #fff;
        }
      }

      &:hover {
        color: $color-blue;
        a, i {
          color: $color-blue;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
        }
      }

      a {
        text-decoration: none;
      }
    }

    &.right {
      li {
        display: inline-block;
      }
    }
  }
}