#clients {
  height: auto;
  background-color: #eeeeee;

  .title {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 25px;
    color: $color-blue;

    h1 {
      padding: 5px 25px;
      margin: 0;
      color: #fff;
      text-align: center;
      font-size: 32px;
    }

    @include breakpoint(mobile) {
      width: 98%;
      margin-left: 1%;
      margin-right: 1%;
    }
  }

  #client {
    padding: 0 10% 0 5%;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    text-align:center;

      .thumb {
        width: 15%;
        height: 125px;
        margin: 20px 5%;
        float: left;
        display: inline;

        @include breakpoint(mobile) {
          width: 65%;
          margin: auto;
          float: none;
          height: auto;
        }

        img {
          width: 300px;

          @include breakpoint(mobile) {
            margin-left: 10px;
            width: 100%;
            margin: 25px 0;
          }

          &.keiser {
            margin-top: 60px;
            margin-left: 17%;
            @include breakpoint(mobile) {
              margin-left: 10px;
              width: 100%;
              margin: 25px 0;
            }
          }
          &.benz {
            margin-top: 40px;
            margin-left: 12%;
            @include breakpoint(mobile) {
              margin-left: 10px;
              width: 100%;
              margin: 25px 0;
            }
          }
          &.nissan {
          margin-top: 30px;
          margin-left: 12%;
          height: 60%;
          @include breakpoint(mobile) {
            margin-left: 10px;
            width: 100%;
            margin: 25px 0;
          }
        }
          &.boeing {
          margin-top: 60px;
          margin-left: 12%;
          @include breakpoint(mobile) {
            margin-left: 10px;
            width: 100%;
            margin: 25px 0;
          }
        }
          &.nominum {
            margin-top: 50px;
            margin-left: 17%;
            @include breakpoint(mobile) {
              margin-left: 10px;
              width: 100%;
              margin: 25px 0;
            }
          }
          &.amoeba {
            height: 150px;
            margin-top: 5px;
            margin-left: 15%;
            @include breakpoint(mobile) {
              margin-left: 10px;
              width: 100%;
              margin: 25px 0;
            }
          }
          &.fuze {
            margin-top: 60px;
            height: 40px;
            margin-left: 15px;
            @include breakpoint(mobile) {
              margin-left: 10px;
              width: 100%;
              margin: 25px 0;
            }
          }
          &.vulume {
            margin-top: 75px;
            margin-left: 15%;
            @include breakpoint(mobile) {
              margin-left: 10px;
              width: 100%;
              margin: 25px 0;
            }
          }
          &.exumit {
            margin-top: 55px;
            margin-left: 13%;
            @include breakpoint(mobile) {
              margin-left: 10px;
              width: 100%;
              margin: 25px 0;
            }
          }
          &.htf {
            margin-top: 20px;
            margin-left: 15%;
          @include breakpoint(mobile) {
            margin-left: 10px;
            width: 100%;
            margin: 25px 0;
          }
          }
        }
      }
  }
}