#contact {

  .content {
    width: 500px;
    height: 300px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    @include breakpoint(mobile) {
      width: auto;
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  h1.bar {
    display: block;
    width: 500px;
    margin: auto;
    text-align: center;
    @include breakpoint(mobile) {
      width: auto;
      font-size: 1.8em;
    }
  }

  h2.bar {
    width: 500px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    @include breakpoint(mobile) {
      width: 98%;
      font-size: .9em;
    }

    &:hover {
      color: $color-peach;
      a, i {
        color: $color-peach;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
      }
    }

    i.icon-envelope {
      font-size: 32px;
      margin-right: 6px;
    }
  }

  h3.bar {
    padding: 22px;
    margin-left: 7px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    @include breakpoint(mobile) {
      padding: 16px;
    }

    &:hover {
      i {
        color: $color-peach;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
      }
    }

    &:first-child {
      margin-left: 0;
    }

    i {
      font-size: 36px;

      @include breakpoint(mobile) {
        width: 100%;
        font-size: 1.3em;
      }
    }
  }


  .contact-info {
    padding: 25px 60px;
    background-color: rgba(0, 0, 0, 0.75);
    color: $color-white;
    width: 700px;
    margin-left: 25px;
    display: block;
    text-align: left;
  }
}