#contact {

  @include breakpoint(mobile) {
    height: 300px;
  }

  .content {
    width: 500px;
    height: 300px;
    margin: auto;
    padding-top: 20%;

    @include breakpoint(mobile) {
      width: auto;
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  h1.bar {
    display: block;
    width: 500px;
    margin: auto;
    text-align: center;
    margin-left: 50px;

    @include breakpoint(mobile) {
      width: auto;
      font-size: 1.8em;
      margin: 0;
    }
  }

  h2.bar {
    width: 500px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin-left: 45px;

    @include breakpoint(mobile) {
      width: 98%;
      font-size: .9em;
      margin: 0;
    }

    &:hover {
      color: $color-yellow;
      a, i {
        color: $color-yellow;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
      }
    }

    i.icon-envelope {
      font-size: 32px;
      margin-right: 6px;
    }
  }

  .social {
    margin-left: 100px;
    @include breakpoint(mobile) {
      margin: 0;
    }
  }

  h3.bar {
    padding: 22px;
    margin-left: 10px;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;

    @include breakpoint(mobile) {
      padding: 16px;
    }

    &:hover {
      i {
        color: $color-yellow;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
      }
    }

    &:first-child {
      margin-left: 0;
    }

    i {
      font-size: 36px;

      @include breakpoint(mobile) {
        width: 100%;
        font-size: 1.3em;
      }
    }
  }
}