#root {
  .title {
    margin-top: 8%;
    text-align: right;
    margin-right: 50px;

    @include breakpoint(mobile) {
      width: 100%;
      margin: 0;
    }
  }

  h1 {
    @include breakpoint(mobile) {
      text-align: left;
      margin: 0 0 5px;
    }
  }

  .line-one, .line-two {
    display: inline-block;

    h1 {
      @include breakpoint(mobile) {
        font-size: 1.5em;
      }
    }

    @include breakpoint(mobile) {
      width: 100%;
    }
  }

  .line-three {
    h1 {
      @include breakpoint(mobile) {
        font-size: 1.2em;
      }
    }
    @include breakpoint(mobile) {
      width: 100%;
    }
  }

  .bio {
    width: 779px;
    margin-left: auto;
    margin-right: 60px;
    padding: 25px;
    color: $color-white;
    background-color: $color-black;
    background-color: rgba(0, 0, 0, 0.75);
    margin-top: 25px;
    font-size: 16px;
    text-align: left;
    line-height: 1.5;
    letter-spacing: 1px;

    p {
      &:first-child {
        margin-top: 0;
      }
    }

    @include breakpoint(mobile) {
      width: 100%;
      margin: 0 0 5px;
      font-size: 0.85em;
      padding: 20px;
    }
  }

  h1.subheader {
    padding-right: 5px;
  }
}