#root {
  .title {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(mobile) {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    @include breakpoint(tablet) {
      width: 90%;
    }

    img {
      width: 175px;
      margin-bottom: 35px;
      display: block;
      margin: auto;
    }
  }

  &.area {
    @include breakpoint(mobile) {
      height: auto;
    }
  }

  .intro {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 500px;
  }

  h1 {
    color: $color-black;
    @include breakpoint(mobile) {
      text-align: center;
      margin: 0 0 5px;
    }
  }

  .line-one, .line-two {
    display: block;

    h1 {
      color: $color-black;
      padding: 25px 0 10px 0;
      text-align: center;

      @include breakpoint(mobile) {
        font-size: 1.5em;
      }
      @include breakpoint(tablet) {
        text-align: center;
        font-size: 32px;
      }
    }

    @include breakpoint(mobile) {
      width: 100%;
    }

    h2 {
      font-size: 1.7em;
    }
  }

  .line-three {
    h2 {
      margin-left: 5px;
      margin-top: 10px;
    }
  }

  .bio {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    color: $color-black;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: 300;

    p {
      font-size: 18px;
      &:first-child {
        margin-top: 0;
      }
      @include breakpoint(mobile) {
        font-size: 14px;
      }
    }

    @include breakpoint(tablet) {
      width: 85%;
    }

    @include breakpoint(mobile) {
      width: 100%;
      margin: 0;
      font-size: 0.85em;
      padding: 20px;
    }

    a {
    color:  $color-peach;
    font-style: normal;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;

      &:hover {
        color: $color-plum;
        -webkit-transition: all 0.25s linear;
        -moz-transition: all 0.25s linear;
        -o-transition: all 0.25s linear;
        transition: all 0.25s linear;
      }
    }
  }

  h1.subheader {
    padding-right: 5px;
  }
}