#portfolio {
  height: auto;
  padding-bottom: 50px;

  .title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;

    h1 {
      padding: 5px 25px;
      margin: 0;

    }

    @include breakpoint(mobile) {
      width: 98%;
      margin-left: 1%;
      margin-right: 1%;
    }
  }

  #case-studies {
    margin-top: 75px;

    .case {
      width: 85%;
      height: 200px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-bottom: 30px;
      cursor: pointer;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
        }

      p {
        font-weight: 300;
        font-size: 16px;
        letter-spacing: 1px;
      }

      .thumb {
        width: 30%;
        height: 200px;
        margin-right: 5%;
        float: left;

        img {
          width: 300px;

          &.keiser {
            margin-top: 60px;
            margin-left: 17%;
          }
          &.amoeba {
            height: 150px;
            margin-top: 25px;
            margin-left: 15%;
          }
          &.icc {
            margin-top: 40px;
            margin-left: 15%;
          }
          &.fuze {
            width: 60%;
            margin-top: 60px;
            margin-left: 50px;
          }
          &.vulume {
            margin-top: 75px;
            margin-left: 15%;
          }
          &.exumit {
            margin-top: 55px;
            margin-left: 13%;
          }
          &.htf {
            margin-top: 20px;
            margin-left: 15%;
          }
        }
      }

      .description {
        width: 60%;
        text-align: left;
        line-height: 1.5;
        float: left;
        text-align: right;
        margin-top: 20px;

        p {
          text-align: left;
          color: $color-white;
          margin-bottom: 0;
        }
      }
    }
  }
}