#portfolio {
  height: auto;
  padding-bottom: 50px;

  .title {
    text-align: center;
    margin-top: 50px;

    h1 {
      padding: 5px 25px;
      margin: 0;

    }

    @include breakpoint(mobile) {
      width: 98%;
      margin-left: 1%;
      margin-right: 1%;
    }
  }

  p {
    line-height: 1.25;
  }

  #container {
    position: relative;
    .item {
      background-color: #4682b4;
      margin: 10px;
    }

    .avatar {
      background: url('/images/portfolio/avatar4.png') no-repeat center center;
      background-size: auto 100%;
    }
    .slater {
      background: url('/images/portfolio/slater3.jpg') no-repeat center center;
      background-size: auto 100%;
    }
    .keiser {
      background: url('/images/portfolio/keiser1.jpg') no-repeat center center;
      background-size: auto 100%;
    }
    .search {
      background: url('/images/portfolio/search.jpg') no-repeat right center;
      background-size: auto 100%;
    }
    .htf {
      background: url('/images/portfolio/htf1.png') no-repeat center center;
      background-size: auto 100%;
    }
    .amoeba {
      background: url('/images/portfolio/amoeba1.png') no-repeat center center;
      background-size: auto 100%;
    }
    .oxford {
      background: url('/images/portfolio/oxford1.jpg') no-repeat center center;
      background-size: 100% auto;
    }
    .upload {
      background: url('/images/portfolio/upload1.png') no-repeat right center;
      background-size: auto 100%;
    }
    .icc {
      background: url('/images/portfolio/icc1.png') no-repeat center center;
      background-size: auto 100%;
    }
    .pssf {
      background: url('/images/portfolio/pssf1.jpg') no-repeat center center;
      background-size: auto 100%;
    }
    .vulume {
      background: url('/images/portfolio/vulume2.jpg') no-repeat left center;
      background-size: auto 100%;
    }
    .exumit {
      background: url('/images/portfolio/exumit1.jpg') no-repeat left center;
      background-size: auto 100%;
    }
    .sfnt {
      background: url('/images/portfolio/sfnt1.jpg') no-repeat center center;
      background-size: auto 100%;
    }
    .github {
      background: #f4f4f4 url('/images/clients/blacktocats.svg') no-repeat center center;
      background-size: 90%;
    }
    .moz {
      background: url('/images/portfolio/moz1.jpg') no-repeat left center;
      background-size: auto 100%;
    }
    .prez {
      background: url('/images/portfolio/prez1.jpg') no-repeat left center;
      background-size: auto 100%;
    }
    .sfccc {
      background: url('/images/portfolio/sfccc1.png') no-repeat center center;
      background-size: auto 100%;
    }

    .ds {
      background: url('/images/portfolio/ds.jpg') no-repeat center center;
      background-size: 100% auto;
    }

    .port {
      background: url('/images/portfolio/port.jpg') no-repeat center center;
      background-size: auto 100%;
    }

    .do {
      background: url('/images/portfolio/do1.png') no-repeat center center;
      background-size: auto 100%;
    }

    .bb {
      background: url('/images/portfolio/bookbit1.png') no-repeat center center;
      background-size: auto 100%;
    }
  }

  #options {
    text-align: center;
    margin-left: -55px;

    @include breakpoint(tablet) {
      width: 98%;
      margin: 0;
    }
    @include breakpoint(mobile) {
      width: 98%;
      margin: 0;
    }

    ul {
      display: inline-block;
      margin-top: 5px;

      @include breakpoint(tablet) {
        padding: 0;
      }
      @include breakpoint(mobile) {
        padding: 0;
      }

      a {
        border: 0;
      }
    }
  }

  #container {
    @include breakpoint(tablet) {
      margin: 0;
      padding: 0;
    }
    @include breakpoint(mobile) {
      margin: 0;
      padding: 0;
    }
  }

  #filters {
    @include breakpoint(tablet) {
      width: 98%;
      margin-left: 1%;
      margin-right: 1%;
    }
    @include breakpoint(mobile) {
      width: 98%;
      margin-left: 1%;
      margin-right: 1%;
    }
  }
}