#portfolio {
  #container {
    .item {
      background-color: #4682b4;
      margin: 10px;
    }
  }

  #options {
    ul {
      display: inline-block;
      vertical-align: middle;
      margin-top: 25px;
    }
  }
}