#resume {
  height: auto;
  padding-bottom: 50px;

  .title {
    text-align: center;
    margin-top: 50px;

    h1 {
      padding: 5px 25px;
      margin: 0;
    }
  }

  .skills, .work, .education, .projects {
    margin-left: 35px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 35px;
    text-align: left;

    @include breakpoint(mobile) {
      width: 98%;
      margin-left: 1%;
      margin-right: 1%;
    }

    .clear {
      background-color: rgba(0, 0, 0, 0);
      padding: 0;
    }

    .title {
      margin-left: 0;
    }

    h3 {
      font-size: 21px;
      width: 450px;
      padding: 0;
      color: #f8f8ff;

      @include breakpoint(mobile) {
        width: auto;
      }
    }
  }

  h2.bar {
    padding: 22px;
    margin-bottom: 25px;
    text-align: left;
  }

  span.subheader {
    line-height: 4;
    color: #f8f8ff;
  }

  article {
    padding: 30px;
    color: $color-white;
    display: block;
    width: 500px;
    line-height: 1.5;
    letter-spacing: 1px;
    padding-bottom: 0;

    &:last-child {
      padding-bottom: 30px;
    }

    @include breakpoint(mobile) {
      width: auto;
    }

    h3 {
      padding: 0;

      a {
        display: block;
      }
    }

    p {
      font-size: 14px;
    }

    ul {
      margin: 0;
      padding: 0;
    }
  }

  .projects {
    margin: 45px 0 0 0;
  }

  section {
    background: rgba(0, 0, 0, 0.75);
  }

  .tags{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 25px;

    li, .tag {
      float: left;
      height: 35px;
      line-height: 24px;
      position: relative;
      font-size: 21px;
      margin-top: 15px;
    }

    .tag {
      margin-left: 20px;
      padding: 0 10px 0 12px;
      background: rgba(0, 0, 0, 0.75);
      color: #fff;
      text-decoration: none;
      border-radius: 0 4px 4px 0;
      line-height: 30px;
      line-height: 1.5;

      &:before{
        content: "";
        float: left;
        position: absolute;
        top: 0;
        left: -12px;
        width: 0;
        height: 0;
        border-color: transparent rgba(0, 0, 0, 0.75) transparent transparent;
        border-style: solid;
        border-width: 17px 12px 18px 0;
      }

      &:after{
        content: "";
        position: absolute;
        top: 15px;
        left: 0;
        float: left;
        width: 4px;
        height: 4px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        background: #fff;
        -moz-box-shadow: -1px -1px 2px #004977;
        -webkit-box-shadow: -1px -1px 2px #004977;
        box-shadow: -1px -1px 2px #004977;
      }
    }
  }
}