<body id="contact">

  <header>
    <h1 class="bar"><strong>Let's Connect</strong></h1>
    <h2 class="bar"><i class="icon-envelope"></i> <a href="mailto:hello@startexploding.com" target="_blank">hello@startexploding.com</a></h2>
  </header>

  <!--<div class="links">-->
    <!--<ul>-->
      <!--<li><h3 class="bar"><i class="icon-twitter-sign"></i> <a href="https://twitter.com/startexploding" target="_blank">Follow me on Twitter</a></h3></li>-->
      <!--<li><h3 class="bar"><i class="icon-linkedin-sign"></i> <a href="http://www.linkedin.com/in/richardenlow/" target="_blank">Connect on LinkedIn</a></h3></li>-->
      <!--<li><h3 class="bar"><i class="icon-github-sign"></i> <a href="https://github.com/startexploding" target="_blank">Follow me on Github</a></h3></li>-->
    <!--</ul>-->
  <!--</div>-->

</body>