<body id="contact">

  <div class="content">
    <div class="contact-form">
        <h2 class="bar">Let's Connect</h2>
        <p>If you have any questions or would like to create something together, don't hesitate to get in touch.</p>

      <form method="post" action="contactengine.php">
          <input type="text" id="name" placeholder="Your name">
          <input type="text" id="email" placeholder="Your email">
          <textarea id="message" placeholder="Enter your message"></textarea>

          <input class="button" type="submit">
        </form>
    </div>

    <div class="links">
      <ul>
        <li><h3 class="bar"><i class="icon-twitter-sign"></i> <a href="https://twitter.com/startexploding" target="_blank">Follow me on Twitter</a></h3></li>
        <li><h3 class="bar"><i class="icon-linkedin-sign"></i> <a href="http://www.linkedin.com/in/richardenlow/" target="_blank">Connect on LinkedIn</a></h3></li>
        <li><h3 class="bar"><i class="icon-github-sign"></i> <a href="https://github.com/startexploding" target="_blank">Follow me on Github</a></h3></li>
        <li><h3 class="bar"><i class="icon-envelope"></i> <a href="mailto:hello@startexploding.com" target="_blank">hello@startexploding.com</a></h3></li>
      </ul>
    </div>
  </div>

</body>