<body id="project">
  <div class="work case-study">
    <setcion>
      <article>
        <div class="content">
          <form action="/login" method="post">
            <div class="row collapse">
              <div class="small-12 columns">
                <h1>Protected page</h1>
                <label>
                  Please enter password
                  <div>
                  <input type="password" name="password" autofocus="autofocus" />
                  </div>
                </label>
                <button>Submit</button>
              </div>
            </div>
          </form>
        </div>
      </article>
    </setcion>
  </div>
</body>
