<body id="portfolio" xmlns="http://www.w3.org/1999/html">

  <div class="title">
    <!--<h2 class="bar">The content box will say the client, a little about and then role on the project</h2>-->
    <!--<h2 class="bar">At the top of the page perhaps include logos of projects I have worked on.</h2>-->
  </div>

  <h1 class="bar">Portfolio</h1>
  <br>
  <h2 class="bar">Coming Soon</h2>

</body>