<body id="portfolio" xmlns="http://www.w3.org/1999/html">

  <h1 class="bar">Portfolio</h1>
  <br>

  <section id="options" class="clearfix">

    <ul id="filters" class="option-set clearfix" data-option-key="filter">
      <li><a href="#filter" data-option-value="*" class="selected">Show All</a></li>
      <li><a href="#filter" data-option-value=".web">Web</a></li>
      <li><a href="#filter" data-option-value=".ux">UX/UI</a></li>
      <li><a href="#filter" data-option-value=".visual">Visual</a></li>
      <li><a href="#filter" data-option-value=".branding">Branding</a></li>
      <li><a href="#filter" data-option-value=".mobile">Mobile</a></li>
      <li><a href="#filter" data-option-value=".print">Print</a></li>
    </ul>


  </section>

  <div id="container" class="clearfix">

    <div class="type web">
      <h2>Test</h2>
      <h3>Web</h3>
    </div>

    <div class="type ux">
      <h2>Test</h2>
      <h3>UX</h3>
    </div>

    <div class="type visual">
      <h2>Test</h2>
      <h3>Visual</h3>
    </div>

    <div class="type branding">
      <h2>Test</h2>
      <h3>Branding</h3>
    </div>

    <div class="type mobile">
      <h2>Test</h2>
      <h3>Mobile</h3>
    </div>

    <div class="type print">
      <h2>Test</h2>
      <h3>Print</h3>
    </div>

  </div> <!-- #container -->

  <script src="../javascripts/jquery-1.7.1.min.js"></script>
  <script src="../javascripts/jquery.isotope.min.js"></script>

  <script>
    $(function(){

      var $container = $('#container');

      $container.isotope({
        itemSelector : '.type'
      });


      var $optionSets = $('#options .option-set'),
        $optionLinks = $optionSets.find('a');

      $optionLinks.click(function(){
        var $this = $(this);
        // don't proceed if already selected
        if ( $this.hasClass('selected') ) {
          return false;
        }
        var $optionSet = $this.parents('.option-set');
        $optionSet.find('.selected').removeClass('selected');
        $this.addClass('selected');

        // make option object dynamically, i.e. { filter: '.my-filter-class' }
        var options = {},
          key = $optionSet.attr('data-option-key'),
          value = $this.attr('data-option-value');
        // parse 'false' as false boolean
        value = value === 'false' ? false : value;
        options[ key ] = value;
        if ( key === 'layoutMode' && typeof changeLayoutMode === 'function' ) {
          // changes in layout modes need extra logic
          changeLayoutMode( $this, options )
        } else {
          // otherwise, apply new options
          $container.isotope( options );
        }

        return false;
      });


    });
  </script>

  <script>
    $(function() {

      $.Isotope.prototype._getCenteredMasonryColumns = function() {
        this.width = this.element.width();
        var parentWidth = this.element.parent().width();
        // i.e. options.masonry && options.masonry.columnWidth
        var colW = this.options.masonry && this.options.masonry.columnWidth ||
          // or use the size of the first item
          this.$filteredAtoms.outerWidth(true) ||
          // if there's no items, use size of container
          parentWidth;
        var cols = Math.floor(parentWidth / colW);
        cols = Math.max(cols, 1);
        // i.e. this.masonry.cols = ....
        this.masonry.cols = cols;
        // i.e. this.masonry.columnWidth = ...
        this.masonry.columnWidth = colW;
      };

      $.Isotope.prototype._masonryReset = function() {
        // layout-specific props
        this.masonry = {};
        // FIXME shouldn't have to call this again
        this._getCenteredMasonryColumns();
        var i = this.masonry.cols;
        this.masonry.colYs = [];
        while (i--) {
          this.masonry.colYs.push(0);
        }
      };

      $.Isotope.prototype._masonryResizeChanged = function() {
        var prevColCount = this.masonry.cols;
        // get updated colCount
        this._getCenteredMasonryColumns();
        return (this.masonry.cols !== prevColCount);
      };

      $.Isotope.prototype._masonryGetContainerSize = function() {
        var unusedCols = 0,
          i = this.masonry.cols;
        // count unused columns
        while (--i) {
          if (this.masonry.colYs[i] !== 0) {
            break;
          }
          unusedCols++;
        }
        return {
          height: Math.max.apply(Math, this.masonry.colYs),
          // fit container to columns that have been used;
          width: (this.masonry.cols - unusedCols) * this.masonry.columnWidth
        };
      };


      var $container = $('#container'),
        $body = $('body'),
        colW = 60,
        columns = null;

      $container.isotope({
        // disable window resizing
        resizable: false,
        masonry: {
          columnWidth: colW
        }
      });

      //FILTERING
      $('#filters a').click(function() {
        var selector = $(this).attr('data-filter');
        $container.isotope({
          filter: selector
        });
        return false;
      });
    });
  </script>
</body>